@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Lato";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: none;
}

#sidenav ul {
  list-style-type: none;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#sidenav ul li {
  padding-bottom: 0.5em;
}

.fab {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  color: white;
}

.nav-container {
  background-color: #000000;
}

.nav-container a {
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo-text {
  padding-left: 1em;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background: black;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.hero-right {
  display: none;
}

section {
  padding: 4em 2em;
  text-align: center;
}

section .title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  font-size: 1.5em;
}

.education {
  background: #d3d3d3;
}

.education .title {
  color: #000000;
}

.education ul li {
  padding: 2em;
  border: solid #000000;
  border-radius: 1em;
  margin-bottom: 1em;
}

.education-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: -0.4em;
  display: block;
}

.education-desc {
  color: #000000;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: 500;
}

.work {
  background: #ffffff;
}

.work .title {
  color: #d3d3d3;
}

.work-container ul li {
  padding: 2em;
  border: solid #d3d3d3;
  border-radius: 1em;
  margin-bottom: 1em;
}

.work-title {
  color: #d3d3d3;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: -0.4em;
  display: block;
}

.work-desc {
  color: #d3d3d3;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: 500;
}

.projects {
  background: #000000;
}

.projects .title {
  color: #ffffff;
}

.project-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
  width: 50%;
}

.project-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: -0.4em;
  display: block;
}

.project-desc {
  color: #ffffff;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: 500;
}

.whiteboard {
  display: none;
}

.project-container img {
  margin-right: 2em;
  max-width: 200px;
}

@media only screen and (min-width: 800px) {
  .project-title {
    text-align: center;
  }
  .project-desc {
    text-align: center;
  }
  .education,
  .work,
  .projects {
    text-align: left;
  }
  .education ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em;
    text-align: center;
  }
  .education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .project-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .project-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
    float: right;
    width: 50%;
  }
  .right {
    position: relative;
    width: 60%;
  }
  .whiteboard {
    display: unset;
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .arrow {
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    font-size: 5rem;
    margin: auto;
  }
  .mac-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
  }
  @-webkit-keyframes writeLine {
    0% {
      -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
              clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    }
    100% {
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
              clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
  }
  @keyframes writeLine {
    0% {
      -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
              clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    }
    100% {
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
              clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
  }
  @-webkit-keyframes keydown {
    0% {
      fill-opacity: 0.1;
    }
    15% {
      fill-opacity: 0.3;
    }
    30% {
      fill-opacity: 0.1;
    }
  }
  @keyframes keydown {
    0% {
      fill-opacity: 0.1;
    }
    15% {
      fill-opacity: 0.3;
    }
    30% {
      fill-opacity: 0.1;
    }
  }
  @-webkit-keyframes appOpen {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes appOpen {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .mac-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
  }
  .mac-wrapper svg {
    height: auto;
  }
  .mac-wrapper svg #CodeEditorWindow {
    display: none;
  }
  .mac-wrapper.start #CodeEditorWindow {
    display: block;
    animation: 0.5s ease-out 0s 1 normal forwards appOpen, 0.5s ease-out 27s 1 reverse forwards appOpen;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .mac-wrapper.start [id^="codeline"] {
    -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    -webkit-animation: writeLine 1s linear forwards;
            animation: writeLine 1s linear forwards;
  }
  .mac-wrapper.start #codeline1 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .mac-wrapper.start #codeline2 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .mac-wrapper.start #codeline3 {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .mac-wrapper.start #codeline4 {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .mac-wrapper.start #codeline5 {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .mac-wrapper.start #codeline6 {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .mac-wrapper.start #codeline7 {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .mac-wrapper.start #codeline8 {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  .mac-wrapper.start #codeline9 {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .mac-wrapper.start #codeline10 {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .mac-wrapper.start #codeline11 {
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  .mac-wrapper.start #codeline12 {
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }
  .mac-wrapper.start #codeline13 {
    -webkit-animation-delay: 13s;
            animation-delay: 13s;
  }
  .mac-wrapper.start #codeline14 {
    -webkit-animation-delay: 14s;
            animation-delay: 14s;
  }
  .mac-wrapper.start #codeline15 {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  .mac-wrapper.start #codeline16 {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
  }
  .mac-wrapper.start #codeline17 {
    -webkit-animation-delay: 17s;
            animation-delay: 17s;
  }
  .mac-wrapper.start #codeline18 {
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }
  .mac-wrapper.start #codeline19 {
    -webkit-animation-delay: 19s;
            animation-delay: 19s;
  }
  .mac-wrapper.start #codeline20 {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  .mac-wrapper.start #codeline21 {
    -webkit-animation-delay: 21s;
            animation-delay: 21s;
  }
  .mac-wrapper.start #codeline22 {
    -webkit-animation-delay: 22s;
            animation-delay: 22s;
  }
  .mac-wrapper.start #codeline23 {
    -webkit-animation-delay: 23s;
            animation-delay: 23s;
  }
  .mac-wrapper.start #codeline24 {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }
  .mac-wrapper.start #codeline25 {
    -webkit-animation-delay: 25s;
            animation-delay: 25s;
  }
  .mac-wrapper.start #codeline26 {
    -webkit-animation-delay: 26s;
            animation-delay: 26s;
  }
  .mac-wrapper.start #keyboard13 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1591ms;
            animation-delay: 1591ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard6 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1791ms;
            animation-delay: 1791ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard1 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1745ms;
            animation-delay: 1745ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard49 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1986ms;
            animation-delay: 1986ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard27 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1333ms;
            animation-delay: 1333ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard40 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1936ms;
            animation-delay: 1936ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard16 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1703ms;
            animation-delay: 1703ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard6 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1395ms;
            animation-delay: 1395ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard40 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1745ms;
            animation-delay: 1745ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard5 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1770ms;
            animation-delay: 1770ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard8 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1358ms;
            animation-delay: 1358ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard4 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1546ms;
            animation-delay: 1546ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard33 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1816ms;
            animation-delay: 1816ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard28 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1102ms;
            animation-delay: 1102ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard19 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1998ms;
            animation-delay: 1998ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard14 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1716ms;
            animation-delay: 1716ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard49 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1068ms;
            animation-delay: 1068ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard5 {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1566ms;
            animation-delay: 1566ms;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .mac-wrapper.start #keyboard-return {
    -webkit-animation-name: keydown;
            animation-name: keydown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-iteration-count: 26;
            animation-iteration-count: 26;
  }
  .work {
    margin-top: -4em;
    padding-top: 5em;
  }
  .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects {
    padding-top: 5em;
  }
  .project-container img {
    margin-right: 2em;
    max-width: 300px;
  }
}

@media only screen and (min-width: 1050px) {
  #sidenav ul {
    list-style-type: none;
    padding-left: 1.25em;
    padding-top: 0.75em;
  }
  #sidenav ul li {
    padding-bottom: 0.75em;
  }
  .hero {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #000000;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 4em;
    line-height: 2em;
  }
  .hero-right {
    display: unset;
    position: relative;
    color: black;
    margin: auto;
  }
  .fa-code {
    position: absolute;
    font-size: 4em;
    bottom: 5em;
  }
  .hero-arrow {
    position: absolute;
    font-size: 6em;
    left: 0.2em;
    bottom: 2em;
  }
  .fa-code-branch {
    position: absolute;
    font-size: 5em;
    left: 0.2em;
    bottom: 1em;
  }
  .left-down-arrow {
    position: absolute;
    font-size: 6em;
    right: 0.5em;
    bottom: 0.2em;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .right-down-arrow {
    position: absolute;
    font-size: 6em;
    left: 1.25em;
    bottom: 0.2em;
  }
  .fa-desktop {
    position: absolute;
    font-size: 7em;
    right: 0.12em;
    top: 0.4em;
  }
  .fa-mobile-alt {
    position: absolute;
    font-size: 7em;
    left: 1.1em;
    top: 0.4em;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #000000;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  section {
    padding: 4em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
/*# sourceMappingURL=styles.css.map */